@charset "utf-8";
/* CSS Document */

/* HTML5 display definitions
========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* Base
========================================================================*/
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* GLOBAL RESETS
========================================================================*/
*{padding:0;margin:0;}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}
ol, ul {list-style:none}
a {color: #0066CC; text-decoration: none; }
a:hover {color: #8dc641; text-decoration: none } 
:focus, a:focus {outline:none;}
:active, a:active {outline:none;}
:focus {-moz-outline-style:none;}

/* TABLE
========================================================================*/
table {border-collapse:collapse; border-spacing:0}
th, td, caption {font-weight: normal;vertical-align: top;text-align: left;}


/* IMAGES
========================================================================*/
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
img.flLeft {margin-right:15px;}
img.flRight {margin-left:15px;}


/* POSITION ABSOLUTE
========================================================================*/
.absolute {position:absolute}
.absoluted > * {position:absolute}


/* POSITION RELATIVE
========================================================================*/
.rel {position:relative}


/* GLOBAL FLOAT
========================================================================*/
.flLeft{float:left;}
.flRight{float:right;}


/* CLEAR FLOAT
========================================================================*/
.clearfix:after {content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden}
.clear {clear:both; padding:0; margin:0; overflow:hidden; height:0}


/* DISPLAY INLINE
========================================================================*/
.inline {display:inline}


/* DEFAULT FORM STYLING
========================================================================*/
input[type="radio"], input[type="checkbox"] {vertical-align:-2px}
textarea {resize:none; overflow:auto}
input {visibility:visible; outline:none}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,{ outline:none;}

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
    border: 1px solid #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}


/* MARGIN 0
========================================================================*/
.mrgLast{margin-right:0 !important}
.mrgFirst{margin-left:0 !important}

/* FORM
========================================================================*/
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }


/* Chrome Frame Prompt
========================================================================*/
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


@font-face {
  font-family: 'FuturaStd-Bold';
  src:  url('../font/FuturaStd-Bold.otf')  format('opentype'),
	    url('../font/FuturaStd-Bold.woff') format('woff'),
		url('../font/FuturaStd-Bold.ttf')  format('truetype'),
		url('../font/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
